body {
	background: #060606;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	margin: 50px;
}

header {
	border-bottom: 2px solid #e0e0e0;
	color: #e0e0e0;
	font-size: 240%;
	margin-bottom: 20px;
}

pre {
	border: 2px dashed #e0e0e0;
	font-size: 110%;
	margin-top: 20px;
	white-space: pre;
}

p {
	font-size: 110%;
}

img {
	border: 2px dashed #e0e0e0;
}

footer {
	color: #e0e0e0;
	margin: 0 auto;
	text-align: right;
	width: 900px;
 }
 
footer a {
	color: #e0e0e0;
 }

#content {
	background: #272727;
	color: #e0e0e0;
	margin: 0 auto;
	padding: 50px;
	width: 800px;
}

#content a {
	color: #e0e0e0;
}