body {
	background: #060606;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	margin: 50px;
}

section ul {
	margin-bottom: 20px;
}

section li {
	margin: 5px 0 5px 20px;
}

section li span {
	color: #e6db74;
	font-family: Courier New, mono-space;
	font-size: 120%;
	font-weight: 700;
}

h1, h2, h3 { font-weight: 300; }

h1, h2 {
	border-bottom: 2px solid #e0e0e0;
	margin-bottom: 20px;
}

h1 { font-size: 240%; }
h2 { font-size: 180%; }
h3 { font-size: 140%; }

pre {
	border: 2px dashed #e0e0e0;
	font-size: 110%;
	margin-bottom: 20px;
	white-space: pre;
}

p {
	font-size: 110%;
	margin-bottom: 20px;
}

img {
	border: 2px dashed #e0e0e0;
	margin-bottom: 20px;
}

footer {
	color: #e0e0e0;
	margin: 0 auto;
	text-align: right;
	width: 900px;
 }
 
footer a {
	color: #e0e0e0;
 }

#content {
	background: #272727;
	color: #e0e0e0;
	margin: 0 auto;
	padding: 50px;
	width: 800px;
}

#content a {
	color: #e0e0e0;
}